name: Publish

on:
    workflow_dispatch:

jobs:
    publish:
        name: Publish Mod
        runs-on: ubuntu-latest
        permissions:
            contents: read
        if: github.actor == github.repository_owner
        steps:
            -   name: Checkout base branch
                uses: actions/checkout@v2

            -   name: Setup JDK
                uses: actions/setup-java@v4
                with:
                    java-version: '21'
                    distribution: 'temurin'

            -   name: Grant execute permission for gradlew
                run: chmod +x gradlew

            -   name: Build Mod
                run: ./gradlew build --stacktrace

            -   name: Read Gradle Properties
                id: read_gradle_properties
                run: |
                    echo "$(grep '^[[:space:]]*mod_version' gradle.properties)"
                    echo "$(grep '^[[:space:]]*minecraft_version' gradle.properties)"
                    echo "$(grep '^[[:space:]]*mod_version' gradle.properties)" >> $GITHUB_OUTPUT
                    echo "$(grep '^[[:space:]]*minecraft_version' gradle.properties)" >> $GITHUB_OUTPUT
                    if [[ "$(grep '^[[:space:]]*mod_version' gradle.properties | sed -e 's/^[^=]*=[[:space:]]*//' -e 's/[[:space:]]*$//')" =~ -[^[:space:]]+ ]]; then
                        echo "prerelease=true" >> $GITHUB_OUTPUT
                    else
                        echo "prerelease=false" >> $GITHUB_OUTPUT
                    fi

            -   name: GitHub Release
                uses: softprops/action-gh-release@v2
                with:
                    body_path: CHANGELOG.md
                    draft: true
                    files: |
                        fabric/build/publish/*.jar
                        neoforge/build/publish/*.jar
                    prerelease: ${{ steps.read_gradle_properties.outputs.prerelease }}
                    tag_name: ${{ steps.read_gradle_properties.outputs.mod_version }}+${{ steps.read_gradle_properties.outputs.minecraft_version }}
                    token: ${{ secrets.GH_RELEASE_TOKEN }}

            -   name: Modrinth Publish
                env:
                    MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}
                run: |
                    ./gradlew :fabric:modrinth --stacktrace
                    ./gradlew :neoforge:modrinth --stacktrace
